<section class="match-detail-page">
  @if (isLoading() && !match()) {
    <div class="match-detail-page-loading">
      <mat-spinner diameter="32" />
    </div>
  } @else if (match(); as match) {
    <h1>{{ match.name }}</h1>

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Overview">
        <app-overview-tab [match]="match" />
      </mat-tab>
      <mat-tab label="Index">
        <app-index-tab [match]="match" />
      </mat-tab>
      <mat-tab label="Standing">
        <app-standing-tab />
      </mat-tab>
      <mat-tab label="Public history">
        <app-public-history-tab />
      </mat-tab>
      <mat-tab label="Settings">
        <app-settings-tab [match]="match" />
      </mat-tab>
      @if (runtimeConfig.debug.enabled) {
        <mat-tab label="Debug">
          <app-debug-tab [payload]="rawResponse()" />
        </mat-tab>
      }
    </mat-tab-group>
  } @else {
    <p>Match not found.</p>
  }
</section>
