<div *ngIf="currentGameId !== ''">
  <app-card cardTitle="Cap Italism Stock Index" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Index Price</th>
            <th>Current Price</th>
            <th>Previous Price</th>
            <th>10 % MV</th>
            <th>20 % MV</th>
            <th>50 % MV</th>
            <th>Total Market Value (MV)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of gameData?.stocks">
            <td>{{ row.assetName }}</td>
            <td>{{ formatAsCurrency(row.indexPrice!) }}</td>
            <td [style.color]="row.previousPrice! < row.currentPrice! ? 'green' : 'red'">
              <span *ngIf="row.previousPrice! < row.currentPrice!">{{ formatAsCurrency(row.currentPrice!) }} <i class="feather icon-arrow-up"></i></span>
              <span *ngIf="row.previousPrice! >= row.currentPrice!">{{ formatAsCurrency(row.currentPrice!) }} <i class="feather icon-arrow-down"></i></span>
            </td>
            <td>{{ formatAsCurrency(row.previousPrice!) }}</td>
            <td>{{ formatAsCurrency(row.marketCap10!) }}</td>
            <td>{{ formatAsCurrency(row.marketCap20!) }}</td>
            <td>{{ formatAsCurrency(row.marketCap50!) }}</td>
            <td>{{ formatAsCurrency(row.marketCap100!) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-progress-stocks-button/>
  </app-card>
</div>
