<div class="row">
  <app-popup-overlay [isVisible]="showPopup">
    <h2>Changes in stock market!</h2>
    <p><b>News: </b>{{ progressionMessage }}</p>
    <ul>
      <li *ngFor="let row of stockChanges" [innerHTML]="row"></li>
    </ul>
    <button (click)="showPopup = false">Continue</button>
  </app-popup-overlay>
  <!-- account-section start -->
  <div class="col-md-12">
    <app-temperature-summary/>
  </div>
  <div class="col-xl-12">
    <app-stock-table/>
  </div>
  <app-progress-stocks-button (gameResponseEvent)="handleProgressionEvent($event)" />
</div>
