<app-card cardTitle="Cap I Talism 20" [options]="false" blockClass="table-border-style">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Iteration</th>
          <th>Player Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of allGames">
          <td>{{ row.id }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.iteration }}</td>
          <td>{{ row.players?.length }}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="setCurrentGameId(row.id!)" >
              Choose game
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>